# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Data and Output files
# Root level and nested paths
phentrieve/data/
data/
phentrieve/hpo_chroma_index/
hpo_chroma_index/
phentrieve/benchmark_results/
benchmark_results/

# Specific data files
*.json
*.pkl
*.csv
*.npy
*.npz

# Include test cases and README/LICENSE
!phentrieve/data/test_cases/
!*.md
!LICENSE

# Cache files
.cache/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# OS specific files
.DS_Store
Thumbs.db

# Explicitly include the original code backup
!/original_code_backup/
