# docker-compose.dev.yml
services:
  phentrieve_api:
    ports:
      - "${API_PORT_HOST:-8001}:8000"
    environment:
      - ALLOWED_ORIGINS=http://localhost:8080,http://localhost:8001,http://localhost:5734,http://localhost:8734
    # Override volumes for development to correctly map data files
    volumes:
      - ./data:/phentrieve_data_mount
      - ./data/hpo_ancestors.pkl:/phentrieve_data_mount/hpo_core_data/hpo_ancestors.pkl
      - ./data/hpo_term_depths.pkl:/phentrieve_data_mount/hpo_core_data/hpo_term_depths.pkl
      - ./data/hp.json:/phentrieve_data_mount/hpo_core_data/hp.json
      - ./phentrieve:/app/phentrieve   # For development: Live reload
      - ./api:/app/api                # For development: Live reload
      - ./data/hf_cache:/root/.cache/huggingface # HF Cache

  phentrieve_frontend:
    ports:
      - "${FRONTEND_PORT_HOST:-8080}:8080"
    build:
      args:
        # Override VITE_API_URL for local development to point to directly exposed API
        VITE_API_URL: http://localhost:${API_PORT_HOST:-8001}/api/v1

# Override external network configuration for development
networks:
  npm_proxy_network:
    external: false
    driver: bridge