-e git+https://github.com/LaborBerlin/varvis-connector.git@357e17040d1a37e3124f1db8e5af0346106a86b4#egg=agde_varvis_connector
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.9.1
aiosignal==1.3.1
aiosqlite==0.21.0
alabaster==1.0.0
alembic==1.16.2
annotated-types==0.7.0
anyio==4.9.0
appdirs==1.4.4
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1708969572489/work
asgiref==3.8.1
astroid==2.15.8
async-lru==2.0.5
async-timeout==4.0.3
attrs==24.2.0
Authlib==1.6.0
autopep8==2.3.2
-e git+https://github.com/berntpopp/autopvs1-link.git@ab1985cb4d74f2289e753cb73a07ac5fcba1be20#egg=autopvs1_link
awkward==2.6.8
awkward_cpp==38
babel==2.17.0
backoff==2.2.1
backports.tarfile==1.2.0
backrefs==5.8
bandit==1.8.6
bcrypt==4.3.0
beautifulsoup4==4.12.2
bionumpy==1.0.12
biopython==1.85
black==25.1.0
blinker==1.8.2
blis==1.3.0
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1711936407380/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
build==1.2.2.post1
bump2version==1.0.1
bumpversion==0.6.0
CacheControl==0.14.3
cachetools==5.5.1
catalogue==2.0.10
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1759648874697/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1696001684923/work
cfgv==3.4.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
chroma-hnswlib==0.7.6
chromadb==1.0.6
cleo==2.1.0
click==8.1.7
cloudpathlib==0.23.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
coloredlogs==15.0.1
conda @ file:///home/conda/feedstock_root/build_artifacts/conda_1760108586898/work/conda-src
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1745834476052/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1691048088238/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1691009212940/work
confection==0.1.5
contourpy==1.3.2
coverage==7.9.2
crashtest==0.4.1
cryptography==45.0.4
-e git+https://github.com/berntpopp/custom-panel.git@4482ec27625a48ddd93bac5d7bc6d1568ee515f3#egg=custom_panel
cycler==0.12.1
cymem==2.0.11
Cython @ file:///home/conda/feedstock_root/build_artifacts/cython_1722872333047/work
Deprecated==1.2.18
dill==0.3.9
distlib==0.3.9
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
dnspython==2.7.0
docker==7.1.0
docutils==0.21.2
dulwich==0.22.8
durationpy==0.9
ecdsa==0.19.1
email_validator==2.2.0
et_xmlfile==2.0.0
exceptiongroup==1.2.2
execnet==2.1.1
fastapi==0.115.9
FastAPI-JSONAPI==2.8.0
fastjsonschema==2.21.1
fastmcp==2.10.2
filelock==3.16.1
findpython==0.6.3
flake8==7.2.0
flake8-docstrings==1.7.0
Flask==3.0.3
flask-htmx==0.3.2
Flask-Login==0.6.3
Flask-Pydantic==0.12.0
flatbuffers==25.2.10
fonttools==4.60.0
frozendict @ file:///home/conda/feedstock_root/build_artifacts/frozendict_1728841320383/work
frozenlist==1.4.1
fsspec==2024.9.0
furo==2024.8.6
-e git+https://github.com/berntpopp/genereviews-link.git@902925b99fefba32fc1a6c91d61c3d6eea501cd2#egg=genereview_link
ghp-import==2.1.0
git-filter-repo==2.47.0
-e git+https://github.com/berntpopp/GnomAD-MCP.git@a9be438ae30c86e39e115d75c04b225b38a29ea6#egg=gnomad_link
# Editable install with no version control (gnomad-mcp-server==2.0.0)
-e /mnt/c/development/scholl-lab/GnomAD-MCP/gnomad-mcp-server
google-ai-generativelanguage==0.6.4
google-api-core==2.25.1
google-api-python-client==2.174.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-generativeai==0.5.4
googleapis-common-protos==1.70.0
gql==3.5.3
graph_kmer_index==0.0.29
graph_read_simulator==0.0.20
graphql-core==3.2.6
greenlet==3.2.3
griffe==1.9.0
grpcio==1.71.0
grpcio-status==1.62.3
gspread==6.1.4
gspread-dataframe==4.0.0
-e git+https://github.com/berntpopp/gtex-link.git@109d84ae77d16de8aadba91b05a4efa40858f625#egg=gtex_link
h11==0.14.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
html2text==2025.4.15
html5lib==1.1
httpcore==1.0.8
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.1
huggingface-hub==0.30.2
humanfriendly==10.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
identify==2.6.12
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1701026962277/work
igv-reports==1.16.0
imagesize==1.4.1
importlib_metadata==8.5.0
importlib_resources==6.5.2
iniconfig==2.0.0
installer==0.7.0
intervaltree==3.1.0
isal==1.7.1
isort==5.13.2
ispcr==0.9.1
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.9.0
Jinja2==3.1.2
jiter==0.10.0
joblib==1.4.2
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/jsonpointer_1695397238043/work
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
keyring==25.6.0
kiwisolver==1.4.9
kmer_mapper==0.0.38
kubernetes==32.0.1
langcodes==3.5.0
language_data==1.3.0
lark==1.1.9
lazy-object-proxy==1.11.0
libcst==1.8.6
libmambapy @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1744179429155/work/libmambapy
linkify-it-py==2.0.3
llvmlite==0.43.0
lxml==5.4.0
Mako==1.3.10
marisa-trie==1.3.1
Markdown==3.8
markdown-it-py==3.0.0
markdownify==1.1.0
MarkupSafe==2.1.5
matplotlib==3.10.6
mccabe==0.7.0
mcp==1.10.1
mdit-py-plugins==0.4.2
mdurl==0.1.2
menuinst @ file:///home/conda/feedstock_root/build_artifacts/menuinst_1705068285533/work
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-autorefs==1.4.2
mkdocs-get-deps==0.2.0
mkdocs-glightbox==0.4.0
mkdocs-material==9.6.14
mkdocs-material-extensions==1.3.1
mkdocstrings==0.30.0
mkdocstrings-python==1.16.12
mmh3==5.1.0
monotonic==1.6
more-itertools==10.7.0
motor==3.7.0
mpmath==1.3.0
msgpack==1.1.0
-e git+https://github.com/berntpopp/MucOneUp.git@6fe8c00facb1da29947c156e40ddc231df9672ef#egg=muc_one_up
multidict==6.6.3
multiprocess==0.70.17
murmurhash==1.0.13
mypy==1.18.2
mypy-extensions==1.0.0
myst-parser==4.0.1
narwhals==2.5.0
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.2
no-implicit-optional==1.4
nodeenv==1.9.1
npstructures==0.2.19
numba==0.60.0
numpy==1.26.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
oauthlib==3.2.2
obgraph==0.0.37
onnxruntime==1.21.1
openai==1.93.0
openapi-pydantic==0.5.1
openpyxl==3.1.5
opentelemetry-api==1.32.1
opentelemetry-exporter-otlp-proto-common==1.32.1
opentelemetry-exporter-otlp-proto-grpc==1.32.1
opentelemetry-instrumentation==0.53b1
opentelemetry-instrumentation-asgi==0.53b1
opentelemetry-instrumentation-fastapi==0.53b1
opentelemetry-proto==1.32.1
opentelemetry-sdk==1.32.1
opentelemetry-semantic-conventions==0.53b1
opentelemetry-util-http==0.53b1
orfipy==0.0.4
orjson==3.10.16
outcome==1.3.0.post0
overrides==7.7.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1710075952259/work
paginate==0.5.7
pandas==2.2.2
pandas-stubs==2.2.3.250527
passlib==1.7.4
pathos==0.3.3
pathspec==0.12.1
patsy==1.0.1
pbr==6.1.1
pbs-installer==2025.6.12
pdfminer.six==20250506
pdfplumber==0.11.7
phentrieve @ file:///mnt/c/development/phentrieve
pillow==11.2.1
pkginfo==1.12.1.2
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1706713388748/work
playwright==1.55.0
plotly==6.3.0
pluggy==1.6.0
poetry==2.1.3
poetry-core==2.1.3
polars==1.33.1
posthog==3.25.0
pox==0.3.5
ppft==1.7.6.9
pre_commit==4.2.0
preshed==3.0.10
prettytable==3.16.0
primer3-py==2.2.0
propcache==0.3.2
proto-plus==1.26.1
protobuf==5.29.5
psutil==6.1.1
psycopg2-binary==2.9.10
-e git+https://github.com/berntpopp/pubtator-link.git@d0231124e0723b5c2e2391cbc733535a0c7f64de#egg=pubtator_link
py_docx_cc==0.3.1
pyahocorasick==2.1.0
pyarrow==15.0.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycodestyle==2.13.0
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1696355758174/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pydantic==2.11.7
pydantic-settings==2.5.2
pydantic_core==2.33.2
pydivsufsort==0.0.18
pydna==5.5.3
pydocstyle==6.3.0
pyee==13.0.0
pyfaidx==0.8.1.2
pyfastx==2.2.0
pyfiglet==0.8.post1
pyflakes==3.3.2
Pygments==2.19.1
PyJWT==2.10.1
pylint==2.17.7
pylint-quotes==0.2.3
pymdown-extensions==10.15
pymongo==4.11
PyMuPDF==1.26.4
pyodbc==5.2.0
pyparsing==3.2.3
pypcrtool==1.1.1
pypdf==3.17.4
PyPDF2==3.0.1
pypdfium2==4.30.1
pyphen==0.17.2
PyPika==0.48.9
pyproject_hooks==1.2.0
pysam==0.22.1
pysbd==0.3.4
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pytest==8.4.2
pytest-asyncio==0.21.1
pytest-cov==6.2.1
pytest-mock==3.14.1
pytest-timeout==2.4.0
pytest-xdist==3.8.0
python-baserow-simple==0.0.4
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.1.1
python-jose==3.5.0
python-multipart==0.0.9
python-pptx==1.0.2
pytwobit==0.3.1
pytz==2025.2
PyYAML==6.0.1
pyyaml_env_tag==1.1
RapidFuzz==3.13.0
ray==2.37.0
referencing==0.35.1
regex==2024.11.6
requests==2.31.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
respx==0.22.0
rich==13.9.4
rpds-py==0.20.0
rsa==4.9
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1707298115475/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1707314473442/work
ruff==0.14.1
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.14.1
seaborn==0.13.2
SecretStorage==3.3.3
seguid==0.2.1
selenium==4.33.0
sentence-transformers==4.1.0
sentencepiece==0.2.0
setuptools-scm==8.3.1
shared_memory_wrapper==0.0.32
SharedArray==3.2.4
shellingham==1.5.4
simple_read_mutator==0.0.2
simplejson==3.19.3
six==1.17.0
smart_open==7.3.0.post1
sniffio==1.3.1
snowballstemmer==3.0.1
sortedcontainers==2.4.0
soupsieve==2.7
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==8.1.3
sphinx-autobuild==2024.10.3
sphinx-autodoc-typehints==3.0.1
sphinx-basic-ng==1.0.0b2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.41
srsly==2.5.1
sse-starlette==2.4.1
starlette==0.45.3
statsmodels==0.14.4
stevedore==5.4.1
-e git+https://github.com/berntpopp/stringdb-link.git@28441b98e64949c221a10522aea2cd35362d7c6f#egg=stringdb_link
structlog==25.4.0
sympy==1.13.1
tabulate==0.9.0
-e git+https://github.com/halbritter-lab/tbase-extractor.git@9917279616fe5a3d995385fcedf577bb5e089151#egg=tbase_extractor
tenacity==8.2.3
testcontainers==4.13.2
textstat==0.7.10
thinc==8.3.6
threadpoolctl==3.6.0
tokenizers==0.21.1
tomli==2.2.1
tomlkit==0.13.3
torch==2.6.0
tqdm==4.67.1
transformers==4.51.3
trio==0.30.0
trio-websocket==0.12.2
triton==3.2.0
trove-classifiers==2025.5.9.12
truststore @ file:///home/conda/feedstock_root/build_artifacts/truststore_1694154605758/work
typer==0.16.0
types-beautifulsoup4==4.12.0.20250516
types-docutils==0.21.0.20250604
types-html5lib==1.1.11.20250516
types-jsonschema==4.25.1.20250822
types-Pygments==2.19.0.20250516
types-pytz==2025.2.0.20250516
types-PyYAML==6.0.12.20250516
types-requests==2.32.0.20250602
types-tabulate==0.9.0.20241207
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
uc-micro-py==1.0.3
uritemplate==4.2.0
urllib3==2.4.0
uv==0.7.2
uvicorn==0.35.0
uvloop==0.21.0
-e git+https://github.com/berntpopp/variantcentrifuge.git@240280ab00b685081da7c8e7296a9237e3d63c43#egg=variantcentrifuge
varvis-connector==0.1.0a15
virtualenv==20.31.2
-e git+https://github.com/hassansaei/VNtyper.git@02010af4abac2350baba6cdef8d7b42026869872#egg=vntyper
wasabi==1.1.3
watchdog==6.0.0
watchfiles==1.0.4
wcwidth==0.2.14
weasel==0.4.1
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.2
Werkzeug==3.0.4
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1736869474897/work
wsproto==1.2.0
xlsxwriter==3.2.9
yarl==1.20.1
zipp==3.20.2
zstandard==0.23.0
